@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
body{
  background-attachment:80%;
   background-image:url(/image/log_signup.png);
    margin: 0;
    font-family: Arial;
}

.container{
    background: rgba(17, 42, 156, 0.767);
    padding: 1em 2em ;
}

.header{
    background: rgb(246, 248, 248);
}

.logo{
    padding-left: .1em;
    padding-bottom: 0;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 4.5em;
    margin: 0;
    font-family: 'Libre Caslon Text';

}
.login{
  padding-right: 3em ;
  text-align: right;
}
a{
  text-decoration: none;
  font-size: 27px;
  color: rgb(20, 71, 180);
  margin: 1em;
  font-family: 'Kanit';
}

.slogan{
    text-align:right;
    font-size:x-large;
    font-family: 'Raleway';
    padding: 0;
    margin: 0;
    color: white;
}
img{
    margin-top: 1em;
}

nav{
    color: white;
    display: grid;
    grid-template-columns:45em auto;
    justify-content: unset;

}
.menu{
    padding: 0 3em;
    display: flex;
    list-style-type: none;
    height: auto;
    width: 100%;
    justify-content: space-between;
}




@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50%;
  margin: 20px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
}
.form h2{
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
input[type=text], input[type=password] {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background:whitesmoke;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  font-size: medium;
  color: #4CAF50;
  text-decoration: none;
}

ul{
  list-style-type: none;
}
.contact{
  background: rgba(17, 42, 156, 0.767);
  color: white;
  display: grid;
  padding: 1em 1em;
  grid-template-columns:44em;
  text-align: center;
  
}
.cont{
  display: flex;
  justify-content: space-between;
  text-align: right;
}
span{
  font-weight: bold;
}
.cont li{
  font-size: 20px;
}


